<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>PREPARADOR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <script src="{{ url_for('static', filename='js/preparador/SocketUpdate.js') }}"></script>
    <div class="container" id="main_frame">
        <h1>SEQUENCIAMENTO DE PEÇAS</h1>
        <table>
            <thead>
                <tr>
                    <th>EM PROGRESSO</th>
                    <th>PEÇA</th>
                    <th>TINTA</th>
                    <th>MOVER</th>
                </tr>
            </thead>
            <tbody id="data-table-body">
                {% for item in current_data %}
                <tr class=" {% if item.tinta == 'Fundo' %}tinta-fundo
                {% elif item.tinta == 'Intermediaria' %}tinta-intermediaria
                {% elif item.tinta == 'Azul' %}tinta-azul
                {% elif item.tinta == 'Laranja' %}tinta-laranja{% endif %}" draggable="true">
                    <td>{{ item.em_progresso }}</td>
                    <td>{{ item.peca }}</td>
                    <td>{{ item.tinta }}</td>
                    <td class="celula_acoes">
                        {% if item.em_progresso %}
                            <p>Em processo de pintura</p>
                        {% else %}
                            <i class="bi bi-arrow-up-circle-fill" style="font-size: 25px;" onclick="moverPecaParaCima(this)"></i>
                            <i class="bi bi-arrow-down-circle-fill" style="font-size: 25px;" onclick="moverPecaParaBaixo(this)"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="preparadorEnviarModificacao()" class="botao-preparador">Enviar modificações</button>
        <button onclick="preparadorRegistrarPeça()" class="botao-preparador">Registrar nova peça</button>
    </div>
    <script src="{{ url_for('static', filename='js/preparador/EnviarModificacao.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preparador/MoverPeca.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
